build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
/config.json
preferences.json
/preferences.json
src/test/data/sandbox/
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
.project
*.class
.classpath
data/TeethHub.json
.gitignore
data/TeethHub.json
data/test.pdf
data/what.pdf
