build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/backup/
/bin/
src/main/resources/docs/
out/
seedu.address/index_SORT_BY_NAME_DESC.html
seedu.address.ui/index_SORT_BY_METHOD.html
seedu.address.ui/index_SORT_BY_LINE_DESC.html
seedu.address.ui/index_SORT_BY_LINE.html
seedu.address.ui/index_SORT_BY_CLASS_DESC.html
seedu.address.ui/index_SORT_BY_CLASS.html
seedu.address.ui/index_SORT_BY_BLOCK_DESC.html
seedu.address.ui/index_SORT_BY_BLOCK.html
seedu.address.ui/index.html
seedu.address.ui/.classes/UiPart.html
seedu.address.ui/.classes/UiManager.html
seedu.address.ui/.classes/Ui.html
seedu.address.ui/.classes/StatusBarFooter.html
seedu.address.ui/.classes/ResultDisplay.html
seedu.address.ui/.classes/PersonListPanel.html
seedu.address.ui/.classes/PersonCard.html
seedu.address.ui/.classes/MainWindow.html
seedu.address.storage/.classes/Storage.html
seedu.address.storage/.classes/JsonUserPrefsStorage.html
seedu.address.storage/.classes/JsonSerializableAddressBook.html
seedu.address.storage/.classes/JsonAddressBookStorage.html
seedu.address.storage/.classes/JsonAdaptedTag.html
seedu.address.storage/.classes/JsonAdaptedPerson.html
seedu.address.storage/.classes/JsonAdaptedPastJob.html
seedu.address.storage/.classes/JsonAdaptedKnownProgLang.html
seedu.address.storage/.classes/JsonAdaptedJobsApply.html
seedu.address.storage/.classes/AddressBookStorage.html
seedu.address.model/index_SORT_BY_NAME_DESC.html
seedu.address.model/index_SORT_BY_METHOD_DESC.html
seedu.address.model/index_SORT_BY_METHOD.html
seedu.address.model/index_SORT_BY_LINE_DESC.html
seedu.address.model/index_SORT_BY_LINE.html
seedu.address.model/index_SORT_BY_CLASS_DESC.html
seedu.address.model.util/index_SORT_BY_CLASS_DESC.html
seedu.address.model.util/index_SORT_BY_CLASS.html
seedu.address.model.util/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.util/index_SORT_BY_BLOCK.html
seedu.address.model.util/index.html
seedu.address.model.util/.classes/SampleDataUtil.html
seedu.address.model.tag/index_SORT_BY_NAME_DESC.html
seedu.address.model.tag/index_SORT_BY_METHOD_DESC.html
seedu.address.model.tag/index_SORT_BY_METHOD.html
seedu.address.model.tag/index_SORT_BY_LINE_DESC.html
seedu.address.model.tag/index_SORT_BY_LINE.html
seedu.address.model.tag/index_SORT_BY_CLASS_DESC.html
seedu.address.model.tag/index_SORT_BY_CLASS.html
seedu.address.model.person/.classes/UniqueNricMap.html
seedu.address.model.person/.classes/School.html
seedu.address.model.person/.classes/Race.html
seedu.address.model.person/.classes/Phone.html
seedu.address.model.person/.classes/Person.html
seedu.address.model.person/.classes/PastJob.html
seedu.address.model.person/.classes/Nric.html
seedu.address.model.person/.classes/Name.html
seedu.address.model.person/.classes/Major.html
seedu.address.model.person/.classes/KnownProgLang.html
seedu.address.model.person/.classes/JobsApply.html
seedu.address.model.person/.classes/InterviewScores.html
seedu.address.model.person/.classes/Grade.html
seedu.address.model.person/.classes/Gender.html
seedu.address.model.person/.classes/Email.html
seedu.address.model.person/.classes/Address.html
seedu.address.model.person.predicate/.classes/EmailContainsKeywordsPredicate.html
seedu.address.model.person.predicate/.classes/AddressContainsKeywordsPredicate.html
seedu.address.model.person.exceptions/index_SORT_BY_NAME_DESC.html
seedu.address.model.person.exceptions/index_SORT_BY_METHOD_DESC.html
seedu.address.model.person.exceptions/index_SORT_BY_METHOD.html
seedu.address.model.person.exceptions/index_SORT_BY_LINE_DESC.html
seedu.address.model.person.exceptions/index_SORT_BY_LINE.html
seedu.address.model.person.exceptions/index_SORT_BY_CLASS_DESC.html
seedu.address.model.person.exceptions/index_SORT_BY_CLASS.html
seedu.address.model.person.exceptions/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.person.exceptions/index_SORT_BY_BLOCK.html
seedu.address.model.person.exceptions/index.html
seedu.address.model.person.exceptions/.classes/PersonNotFoundException.html
seedu.address.model.person.exceptions/.classes/DuplicatePersonException.html
seedu.address.model.job/index_SORT_BY_NAME_DESC.html
seedu.address.model.job/index_SORT_BY_METHOD_DESC.html
seedu.address.logic/index_SORT_BY_LINE.html
seedu.address.logic/index_SORT_BY_CLASS_DESC.html
seedu.address.logic/index_SORT_BY_CLASS.html
seedu.address.logic/index_SORT_BY_BLOCK_DESC.html
seedu.address.logic/index_SORT_BY_BLOCK.html
seedu.address.logic/index.html
seedu.address.logic/.classes/LogicManager.html
seedu.address.logic/.classes/Logic.html
seedu.address.logic/.classes/CommandHistory.html
seedu.address.logic.parser/index_SORT_BY_NAME_DESC.html
seedu.address.logic.parser/index_SORT_BY_METHOD_DESC.html
seedu.address.logic.parser/index_SORT_BY_METHOD.html
seedu.address.logic.parser/index_SORT_BY_LINE_DESC.html
seedu.address.logic.parser/index_SORT_BY_LINE.html
seedu.address.logic.parser/index_SORT_BY_CLASS_DESC.html
seedu.address.logic.parser/index_SORT_BY_CLASS.html
seedu.address.logic.parser.exceptions/index_SORT_BY_BLOCK_DESC.html
seedu.address.logic.parser.exceptions/index_SORT_BY_BLOCK.html
seedu.address.logic.parser.exceptions/index.html
seedu.address.logic.parser.exceptions/.classes/ParseException.html
seedu.address.logic.commands/index_SORT_BY_NAME_DESC.html
seedu.address.logic.commands/index_SORT_BY_METHOD_DESC.html
seedu.address.logic.commands/index_SORT_BY_METHOD.html
seedu.address.logic.commands/index_SORT_BY_LINE_DESC.html
seedu.address.logic.commands/index_SORT_BY_LINE.html
seedu.address.logic.commands/index_SORT_BY_CLASS_DESC.html
seedu.address.logic.commands/index_SORT_BY_CLASS.html
seedu.address.logic.commands/index_SORT_BY_BLOCK_DESC.html
seedu.address.logic.commands/index_SORT_BY_BLOCK.html
seedu.address.logic.commands/index.html
seedu.address.logic.commands/.classes/UndoCommand.html
seedu.address.logic.commands/.classes/SelectCommand.html
seedu.address.logic.commands/.classes/ExitCommand.html
seedu.address.logic.commands/.classes/EditCommand.html
seedu.address.logic.commands/.classes/DeleteCommand.html
seedu.address.logic.commands/.classes/CreateJobCommand.html
seedu.address.logic.commands/.classes/CommandResult.html
seedu.address.logic.commands/.classes/Command.html
seedu.address.logic.commands/.classes/ClearCommand.html
seedu.address.logic.commands/.classes/AddCommand.html
seedu.address.logic.commands.exceptions/index_SORT_BY_NAME_DESC.html
seedu.address.logic.commands.exceptions/index_SORT_BY_METHOD_DESC.html
seedu.address.logic.commands.exceptions/index_SORT_BY_METHOD.html
seedu.address.logic.commands.exceptions/index_SORT_BY_LINE_DESC.html
seedu.address.logic.commands.exceptions/index_SORT_BY_LINE.html
seedu.address.logic.commands.exceptions/index_SORT_BY_CLASS_DESC.html
seedu.address.logic.commands.exceptions/index_SORT_BY_CLASS.html
seedu.address.logic.commands.exceptions/index_SORT_BY_BLOCK_DESC.html
seedu.address.logic.commands.exceptions/index_SORT_BY_BLOCK.html
seedu.address.logic.commands.exceptions/index.html
seedu.address.logic.commands.exceptions/.classes/CommandException.html
seedu.address.commons.util/index_SORT_BY_NAME_DESC.html
seedu.address.commons.util/index_SORT_BY_METHOD_DESC.html
seedu.address.commons.util/index_SORT_BY_METHOD.html
seedu.address.commons.util/index_SORT_BY_LINE_DESC.html
seedu.address.commons.util/index_SORT_BY_LINE.html
seedu.address.commons.util/index_SORT_BY_CLASS_DESC.html
seedu.address.commons.util/index_SORT_BY_CLASS.html
seedu.address.commons.util/index_SORT_BY_BLOCK_DESC.html
seedu.address.commons.util/index_SORT_BY_BLOCK.html
seedu.address.commons.util/index.html
seedu.address.commons.util/.classes/StringUtil.html
seedu.address.commons.util/.classes/JsonUtil.html
seedu.address.commons.util/.classes/InvalidationListenerManager.html
seedu.address.commons.util/.classes/FileUtil.html
seedu.address.commons.util/.classes/ConfigUtil.html
seedu.address.commons.util/.classes/CollectionUtil.html
seedu.address.commons.util/.classes/AppUtil.html
seedu.address.commons.exceptions/index_SORT_BY_NAME_DESC.html
seedu.address.commons.exceptions/index_SORT_BY_METHOD_DESC.html
seedu.address.commons.exceptions/index_SORT_BY_METHOD.html
seedu.address.commons.exceptions/index_SORT_BY_LINE_DESC.html
seedu.address.commons.exceptions/index_SORT_BY_LINE.html
seedu.address.commons.exceptions/index_SORT_BY_CLASS_DESC.html
seedu.address.commons.exceptions/index_SORT_BY_CLASS.html
seedu.address.commons.exceptions/index_SORT_BY_BLOCK_DESC.html
seedu.address.commons.exceptions/index_SORT_BY_BLOCK.html
seedu.address.commons.exceptions/index.html
seedu.address.commons.exceptions/.classes/IllegalValueException.html
seedu.address.commons.exceptions/.classes/DataConversionException.html
seedu.address.commons.core/index_SORT_BY_NAME_DESC.html
seedu.address.commons.core/index_SORT_BY_METHOD_DESC.html
seedu.address.commons.core/index_SORT_BY_METHOD.html
seedu.address.commons.core/index_SORT_BY_LINE_DESC.html
seedu.address.commons.core/index_SORT_BY_LINE.html
seedu.address.commons.core/index_SORT_BY_CLASS_DESC.html
seedu.address.commons.core/index_SORT_BY_CLASS.html
seedu.address.commons.core/index_SORT_BY_BLOCK_DESC.html
seedu.address.commons.core/index_SORT_BY_BLOCK.html
seedu.address.commons.core/index.html
seedu.address.commons.core/.classes/Version.html
seedu.address.commons.core/.classes/Messages.html
seedu.address.commons.core/.classes/LogsCenter.html
seedu.address.commons.core/.classes/GuiSettings.html
seedu.address.commons.core/.classes/Config.html
seedu.address.commons.core.index/index_SORT_BY_NAME_DESC.html
seedu.address.commons.core.index/index_SORT_BY_METHOD_DESC.html
seedu.address.commons.core.index/index_SORT_BY_METHOD.html
seedu.address.commons.core.index/index_SORT_BY_LINE_DESC.html
seedu.address.commons.core.index/index_SORT_BY_LINE.html
seedu.address.commons.core.index/index_SORT_BY_CLASS_DESC.html
seedu.address.commons.core.index/index_SORT_BY_CLASS.html
seedu.address.commons.core.index/index_SORT_BY_BLOCK_DESC.html
seedu.address.commons.core.index/index_SORT_BY_BLOCK.html
seedu.address.commons.core.index/index.html
seedu.address.commons.core.index/.classes/Index.html
.img/arrowUp.gif
.img/arrowDown.gif
.css/coverage.css
seedu.address/index_SORT_BY_METHOD_DESC.html
seedu.address/index_SORT_BY_METHOD.html
seedu.address/index_SORT_BY_LINE_DESC.html
seedu.address/index_SORT_BY_LINE.html
seedu.address/index_SORT_BY_CLASS_DESC.html
seedu.address/index_SORT_BY_CLASS.html
seedu.address/index_SORT_BY_BLOCK_DESC.html
seedu.address/index_SORT_BY_BLOCK.html
seedu.address/index.html
seedu.address/.classes/MainApp.html
seedu.address/.classes/AppParameters.html
seedu.address.ui/index_SORT_BY_NAME_DESC.html
seedu.address.ui/index_SORT_BY_METHOD_DESC.html
seedu.address.ui/.classes/ListElementPointer.html
seedu.address.ui/.classes/HelpWindow.html
seedu.address.ui/.classes/CommandBox.html
seedu.address.ui/.classes/BrowserPanel.html
seedu.address.storage/index_SORT_BY_NAME_DESC.html
seedu.address.storage/index_SORT_BY_METHOD_DESC.html
seedu.address.storage/index_SORT_BY_METHOD.html
seedu.address.storage/index_SORT_BY_LINE_DESC.html
seedu.address.storage/index_SORT_BY_LINE.html
seedu.address.storage/index_SORT_BY_CLASS_DESC.html
seedu.address.storage/index_SORT_BY_CLASS.html
seedu.address.storage/index_SORT_BY_BLOCK_DESC.html
seedu.address.storage/index_SORT_BY_BLOCK.html
seedu.address.storage/index.html
seedu.address.storage/.classes/UserPrefsStorage.html
seedu.address.storage/.classes/StorageManager.html
seedu.address.model/index_SORT_BY_CLASS.html
seedu.address.model/index_SORT_BY_BLOCK_DESC.html
seedu.address.model/index_SORT_BY_BLOCK.html
seedu.address.model/index.html
seedu.address.model/.classes/VersionedAddressBook.html
seedu.address.model/.classes/UserPrefs.html
seedu.address.model/.classes/ReadOnlyUserPrefs.html
seedu.address.model/.classes/ReadOnlyAddressBook.html
seedu.address.model/.classes/ModelManager.html
seedu.address.model/.classes/Model.html
seedu.address.model/.classes/AddressBook.html
seedu.address.model.util/index_SORT_BY_NAME_DESC.html
seedu.address.model.util/index_SORT_BY_METHOD_DESC.html
seedu.address.model.util/index_SORT_BY_METHOD.html
seedu.address.model.util/index_SORT_BY_LINE_DESC.html
seedu.address.model.util/index_SORT_BY_LINE.html
seedu.address.model.tag/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.tag/index_SORT_BY_BLOCK.html
seedu.address.model.tag/index.html
seedu.address.model.tag/.classes/UniqueTagList.html
seedu.address.model.tag/.classes/Tag.html
seedu.address.model.person/index_SORT_BY_NAME_DESC.html
seedu.address.model.person/index_SORT_BY_METHOD_DESC.html
seedu.address.model.person/index_SORT_BY_METHOD.html
seedu.address.model.person/index_SORT_BY_LINE_DESC.html
seedu.address.model.person/index_SORT_BY_LINE.html
seedu.address.model.person/index_SORT_BY_CLASS_DESC.html
seedu.address.model.person/index_SORT_BY_CLASS.html
seedu.address.model.person/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.person/index_SORT_BY_BLOCK.html
seedu.address.model.person/index.html
seedu.address.model.person/.classes/UniquePersonList.html
seedu.address.model.person.predicate/index_SORT_BY_NAME_DESC.html
seedu.address.model.person.predicate/index_SORT_BY_METHOD_DESC.html
seedu.address.model.person.predicate/index_SORT_BY_METHOD.html
seedu.address.model.person.predicate/index_SORT_BY_LINE_DESC.html
seedu.address.model.person.predicate/index_SORT_BY_LINE.html
seedu.address.model.person.predicate/index_SORT_BY_CLASS_DESC.html
seedu.address.model.person.predicate/index_SORT_BY_CLASS.html
seedu.address.model.person.predicate/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.person.predicate/index_SORT_BY_BLOCK.html
seedu.address.model.person.predicate/index.html
seedu.address.model.person.predicate/.classes/SchoolContainsKeywordsPredicate.html
seedu.address.model.person.predicate/.classes/RaceContainsKeywordsPredicate.html
seedu.address.model.person.predicate/.classes/PredicateManager.html
seedu.address.model.person.predicate/.classes/PhoneContainsKeywordsPredicate.html
seedu.address.model.person.predicate/.classes/NameContainsKeywordsPredicate.html
seedu.address.model.person.predicate/.classes/MajorContainsKeywordsPredicate.html
seedu.address.model.job/index_SORT_BY_METHOD.html
seedu.address.model.job/index_SORT_BY_LINE_DESC.html
seedu.address.model.job/index_SORT_BY_LINE.html
seedu.address.model.job/index_SORT_BY_CLASS_DESC.html
seedu.address.model.job/index_SORT_BY_CLASS.html
seedu.address.model.job/index_SORT_BY_BLOCK_DESC.html
seedu.address.model.job/index_SORT_BY_BLOCK.html
seedu.address.model.job/index.html
seedu.address.model.job/.classes/JobName.html
seedu.address.model.job/.classes/Job.html
seedu.address.logic/index_SORT_BY_NAME_DESC.html
seedu.address.logic/index_SORT_BY_METHOD_DESC.html
seedu.address.logic/index_SORT_BY_METHOD.html
seedu.address.logic/index_SORT_BY_LINE_DESC.html
seedu.address.logic.parser/index_SORT_BY_BLOCK_DESC.html
seedu.address.logic.parser/index_SORT_BY_BLOCK.html
seedu.address.logic.parser/index.html
seedu.address.logic.parser/.classes/SelectCommandParser.html
seedu.address.logic.parser/.classes/SearchCommandParser.html
seedu.address.logic.parser/.classes/Prefix.html
seedu.address.logic.parser/.classes/ParserUtil.html
seedu.address.logic.parser/.classes/Parser.html
seedu.address.logic.parser/.classes/FindCommandParser.html
seedu.address.logic.parser/.classes/EditCommandParser.html
seedu.address.logic.parser/.classes/DeleteCommandParser.html
seedu.address.logic.parser/.classes/CreateJobCommandParser.html
seedu.address.logic.parser/.classes/CliSyntax.html
seedu.address.logic.parser/.classes/ArgumentTokenizer.html
seedu.address.logic.parser/.classes/ArgumentMultimap.html
seedu.address.logic.parser/.classes/AddressBookParser.html
seedu.address.logic.parser/.classes/AddCommandParser.html
seedu.address.logic.parser.exceptions/index_SORT_BY_NAME_DESC.html
seedu.address.logic.parser.exceptions/index_SORT_BY_METHOD_DESC.html
seedu.address.logic.parser.exceptions/index_SORT_BY_METHOD.html
seedu.address.logic.parser.exceptions/index_SORT_BY_LINE_DESC.html
seedu.address.logic.parser.exceptions/index_SORT_BY_LINE.html
seedu.address.logic.parser.exceptions/index_SORT_BY_CLASS_DESC.html
seedu.address.logic.parser.exceptions/index_SORT_BY_CLASS.html
seedu.address.logic.commands/.classes/SearchCommand.html
seedu.address.logic.commands/.classes/RedoCommand.html
seedu.address.logic.commands/.classes/ListCommand.html
seedu.address.logic.commands/.classes/ImportResumesCommand.html
seedu.address.logic.commands/.classes/HistoryCommand.html
seedu.address.logic.commands/.classes/HelpCommand.html
seedu.address.logic.commands/.classes/FindCommand.html
