.background {
    -fx-background-color: derive(white, 20%);
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #9efffa;
}

.list-cell {
    -fx-background-color: #9efffa;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #71c2ff;
}

.list-cell:filled:odd {
    -fx-background-color: #bdf7ff;
}

.list-cell:filled:selected {
    -fx-background-color: #f3ffe1;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: derive(white, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#4a5aff, 50%);
    -fx-background-insets: 3;
}

.status-bar {
    -fx-background-color: derive(#4a5aff, 30%);
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.context-menu .label {
    -fx-text-fill: black;
}
.menu-bar {
    -fx-background-color: derive(#4a5aff, 30%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.menu:hover {
    -fx-background-color: #9efffa;
}

.menu-item:focused {
    -fx-background-color: #9efffa;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: black;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: black;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.cardPane {
    -fx-background-color: derive(#4a5aff, 20%);
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(rgba(167, 163, 245, 0.5), 20%);
    -fx-border-color: rgba(255, 255, 255, 0.5)
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: white white rgba(74, 90, 255, 0.4) white;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#resultDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-color: white white #ffffff white;
    -fx-background-radius: 0;
}

/*================== CATEGORIES ==================*/
#categories {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#categories .label {
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#categories .teal{
    -fx-text-fill: white;
    -fx-background-color: teal;
}

#categories .red {
    -fx-text-fill: black;
    -fx-background-color: red;
}

#categories .yellow {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

#categories .blue {
    -fx-text-fill: white;
    -fx-background-color: blue;
}

#categories .orange {
    -fx-text-fill: black;
    -fx-background-color: orange;
}

#categories .brown {
    -fx-text-fill: white;
    -fx-background-color: brown;
}

#categories .green {
    -fx-text-fill: black;
    -fx-background-color: green;
}

#categories .pink {
    -fx-text-fill: black;
    -fx-background-color: pink;
}

#categories .black {
    -fx-text-fill: white;
    -fx-background-color: black;
}

#categories .grey {
    -fx-text-fill: black;
    -fx-background-color: grey;
}

#categories .purple {
    -fx-text-fill: white;
    -fx-background-color: purple;
}

#categories .tan {
    -fx-text-fill: black;
    -fx-background-color: tan;
}

#categories .coral {
    -fx-text-fill: white;
    -fx-background-color: coral;
}

#categories .turquoise {
    -fx-text-fill: black;
    -fx-background-color: turquoise;
}
