.root {
    -fx-background: #383838;
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}


.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}
.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
    -fx-padding: -3 5 0 0
}

.cell_title {
    -fx-background-color: derive(#383838, 40%);;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-bold: true
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}
.pane-with-border {
     -fx-background-color: derive(#1d1d1d, 20%);
     -fx-border-color: white;
     -fx-border-width: 0.3;
}

.date-picker-popup > * > .day-name-cell {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .day-cell {
     -fx-background: #383838;
     -fx-border-color: #383838;
     -fx-font-size: 15px;
}


.date-picker-popup > .calendar-grid {
    -fx-border-color: #383838;
    -fx-background-color: #383838;
    -fx-padding: 0;

}

.date-picker-popup > .month-year-pane {
    -fx-border-color: #383838;
    -fx-background-color: black;
    -fx-font-size: 18px;

}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: white;
}


.date-picker-popup > * > .selected,
.date-picker-popup > * > .day-cell:hover {
    -fx-background: derive(#383838, +40%);
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-text-fill: black;
    -fx-border-color: #383838;
    -fx-background: #383838;
    -fx-opacity: 0.2;
}

.date-picker-popup > * > .today.selected,
.date-picker-popup > * > .today:hover {
    -fx-background-color: derive(#383838, +40%);
}
.date-picker-popup > * > .today {
    -fx-background-color: -fx-selection-bar;
}

.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: -fx-control-inner-background;
}

.text-field {
        -fx-background-color: #383838;
        -fx-background-insets: 0;
        -fx-border-color: #383838 #383838 #ffffff #383838;
        -fx-border-insets: 0;
        -fx-border-width: 1;
        -fx-font-family: "Segoe UI Light";
        -fx-font-size: 13pt;
        -fx-text-fill: white;
}

.high {
    -fx-background-color: #FF0000;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 1;
    -fx-background-radius: 2;
    -fx-font-size: 9;
    -fx-font-weight: bold;
}
.medium {
    -fx-background-color: #F7FF00;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 1;
    -fx-background-radius: 2;
    -fx-font-size: 9;
    -fx-font-weight: bold;
}
.low {
    -fx-background-color: #55FF00;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 1;
    -fx-background-radius: 2;
    -fx-font-size: 9;
    -fx-font-weight: bold;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}