<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>
<body class="background">
<h2>Welcome to HealthHub!</h2>
<div class="welcome-message">
    <p>An administrative tool designed to ease the hassle of patient-doctor appointments.</p>
    <p>To start assigning a request, type</br>
        <span class="command"> add request n/&lsaquo;patient_name&rsaquo; c/&lsaquo;condition&rsaquo;
            d/&lsaquo;date&rsaquo; t/&lsaquo;time&rsaquo;.</span></br></br>
    For more help navigating the application, type <span class="command">help</span>.</p>
</div>
</body>
</html>
