<!DOCTYPE html>
<html>
<head>
    <link href="WhiteTheme.css" rel="stylesheet">
</head>
<body class="background">
<h2>Welcome to HealthHub!</h2>
<div class="welcome-message">
    <p>An administrative tool designed to ease the hassle of patient-doctor appointments.</p>
    <p>To start registering a request, type</br>
        <span class="command"> add request n/&lsaquo;patient_name&rsaquo; i/&lsaquo;identity_no&rsaquo; p/&lsaquo;phone_no&rsaquo; a/&lsaquo;address&rsaquo;
            dt/&lsaquo;date_time&rsaquo; c/&lsaquo;condition&rsaquo;.</span></br></br></br>

        To start registering a health care professional, type</br>
        <span class="command"> add healthworker n/&lsaquo;hw_name&rsaquo; i/&lsaquo;identity_no&rsaquo; p/&lsaquo;phone_no&rsaquo; o/&lsaquo;organisation&rsaquo;
            s/&lsaquo;specialisation&rsaquo;.</span></br></br></br>

        For more help navigating the application, type <span class="command">help</span>.</p>
</div>
</body>
</html>
